
.table td, .table th {
	padding: .10rem !important;
}
.navbar-dark .navbar-brand {
   color: rgba(255,255,255,.5);
}
.active{
	color: #fff !important;
}
.logo{
	max-width: 50px;
	max-height: 50px;
	width: 30px;
	height: 25px;
	left: auto;
	right: auto;	
}

.span {
	height: 30.48px;
	display: grid;
	align-items: center;
	padding: 0px 5px;
}
