<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Página de Cadastro</title>
<th:block th:replace="boostrap" />
</head>
<body>
	<div class="container-fluid">
		<nav th:replace="navbar"></nav>
		<div class="row">
			<div class="col-lg-12">
				<h5 class="text-center my-3"
					th:text="${pessoa.id} eq null? 'Página de Cadastro':'Atualizar Registro'">
				</h5>

				<p th:if="${msgCadastro ne null}" class="text-success text-center">
					<strong>[[${msgCadastro}]]</strong>
				</p>
				<div class="row justify-content-center">
					<p th:if="${pessoa.id} ne null and ${msgCadastro} eq null"
						class="text-dark">Usuario ID: [[${pessoa.id}]],
						[[${pessoa.nome}]], selecionado para edição.
					</p>
				</div>
				<form action="#" enctype="multipart/form-data"
					th:action="@{/salvar}" method="post" th:object="${pessoa}">
					<div class="row justify-content-center mt-4">
						<div class="col-lg-5">
							<div class="form-group   col-lg-7 ">
								<label class="">Nome:</label> <input class=" form-control"
									type="text" th:field="${pessoa.nome}" name="nome">
								<div class="bg-danger rounded mt-1 text-white text-center"
									th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
							</div>
							<div class="form-group  col-lg-7">
								<label style="text-align: left">e-Mail:</label> <input
									class="form-control" type="email" th:field="${pessoa.email}"
									name="email">
								<div class="bg-danger rounded mt-1 text-white text-center"
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
							</div>
							<div class="form-group  col-lg-6">
								<label>Data de Cadastro:</label> <input class="form-control "
									type="date" pattern="yyyy-MM-dd"
									th:field="${pessoa.dataCadastro}" name="dataCadastro">
							</div>
							<div class="form-group  col-lg-1 ">
								<label for="ativo">Ativo:</label> <input id="ativo"
									th:field="${pessoa.ativo}" class="form-checkbox"
									type="checkbox" value="ativo">
							</div>
							<div class="form-group">
								<input type="hidden" th:field="${pessoa.id}" name="id">
							</div>
						</div>
						<div class="col-lg-5">
							<div class="form-group col-lg-6">
								<label>Estado:</label> <select th:field="${pessoa.estado}"
									class="form-control" id="estados">
								</select>
							</div>
							<div class="form-group col-lg-7 ">
								<label>Cidade:</label> <select th:field="${pessoa.cidade}"
									class="form-control" id="cidade">

								</select>
							</div>
							<div class="form-group col-lg-4 ">
								<label>Sexo:</label> <select th:field="${pessoa.sexo}"
									class="form-control">
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Feminino</option>
									<option value="Neutro">Neutro</option>
								</select>
							</div>
							<div class="form-group col-lg-8 ">
								<label>Arquivos:</label> <input type="file" name="arquivos"
									multiple="multiple" />
								<div class="mt-2 text-break h6 text-left" id="arquivos"></div>
							</div>
							<div class="form-group col-lg-4 my-5">

								<button type="submit" class="btn btn-primary">
									<i class="far fa-save"></i>
									<th:block th:text="${pessoa.id} ne null? 'Atualizar': 'Salvar'" />
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>