<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Login page</title>
<th:block th:replace="boostrap" />
</head>

<style>
body {
	background-image: url('/imagens/login-background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
</style>
<body>

	<div class="container-fluid text-center">

		<div class="row justify-content-center">

			<div class="col-lg-12 " align="center">
				<h2 class="text-center  text-white my-5">Página de Login</h2>
				<div th:if="${param.error}">
					<p class="col-lg-3  text-center bg-danger text-white ">Login ou
						senha inválidos!</p>
				</div>
				<div th:if="${param.logout}">
					<p class="col-lg-3 text-center bg-danger text-white ">Você foi
						disconectado!</p>
				</div>

				<form action="#" th:action="@{/login}" method="post"
					style="max-width: 700px;">
					<div class="col-lg-6">
						<input type="text" name="username"
							class="text-center form-control" placeholder="E-mail">
					</div>
					<div class="form-group col-lg-6">
						<input type="password" name="password"
							class="text-center form-control" placeholder="Senha">
					</div>
					<div class="col-lg-6">
						<button class="btn btn-dark w-100 py-3" type="submit">Login</button>
						<a class="btn btn-sm btn-success w-100 py-3" th:href="@{/usuario}">Novo
							Usúario</a>
					</div>
				</form>

			</div>

		</div>

	</div>
</body>
</html>