
<nav xmlns:th="http://www.thymeleaf.org"
	class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand nav-link" th:href="@{/index}"><img id="logo" alt="" class="logo"  src="/imagens/crud.png"> CRUD-PESSOAS </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav" aria-controls="navbarNav"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link text-center" th:href="@{/cadastro}">Cadastrar
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link text-center" th:href="@{/pessoas/1}">Listar <span th:if="${usuario} ne null and ${usuario.notificacao} > 0" class="badge badge-danger">[[${usuario.notificacao}]]</span></a></li>
		</ul>
		<form id="form-logout" th:action="@{/logout}" method="post" class="form-inline ml-auto">
			<p class="text-white mr-1 h6 font-user">
				<small>User: [[${#httpServletRequest.remoteUser}]]</small>
			</p>
			<button class="btn btn-sm btn-danger" type="submit">
				<i class="fa fa-arrow-circle-right"></i> Sair
			</button>
		</form>
	</div>
</nav>