<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<title>Lista de Pessoas</title>
<th:block th:replace="boostrap" />
<style>
#pesquisa {
	background-image: url('/imagens/pesquisa.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: right 10px center;
	
}
</style>
</head>
<body>

	<div class="container-fluid">

		<nav th:replace="navbar"></nav>
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<h5 class="text-center my-3">Lista de Pessoas</h5>
				<div class="my-3" align="center">
					<input id="pesquisa" type="text"
						class="col-lg-4 form-control text-center"
						placeholder="pesquise..." />
				</div>

				<div class="text-danger text-center" th:if="${msgDelete ne null}">
					<p th:text="${msgDelete}"></p>
				</div>

				<div class="col-lg-12">
					<table class="table-pessoas table table-striped">
						<thead>
							<tr>
								<th><a
									th:href="@{'/sort/id?ordem='+ ${revDir}+'&pag='+${ativo} }">Id</a></th>
								<th><a
									th:href="@{'/sort/nome?ordem='+ ${revDir}+'&pag='+${ativo} }">Nome</a></th>
								<th><a
									th:href="@{'/sort/email?ordem='+ ${revDir}+'&pag='+${ativo} }">Email</a></th>
								<th><a
									th:href="@{'/sort/dataCadastro?ordem='+ ${revDir}+'&pag='+${ativo} }">Cadastro</a></th>
								<th><a
									th:href="@{'/sort/sexo?ordem='+ ${revDir}+'&pag='+${ativo} }">Sexo</a></th>
								<th><a
									th:href="@{'/sort/ativo?ordem='+ ${revDir}+'&pag='+${ativo}}">Ativo</a></th>
								<th><a
									th:href="@{'/sort/cidade?ordem='+ ${revDir}+'&pag='+${ativo}}">Cidade</a></th>
								<th><a
									th:href="@{'/sort/estado?ordem='+ ${revDir}+'&pag='+${ativo}}">Estado</a></th>
								<th class="text-center">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pessoa: ${pessoas}">
								<td th:text="${pessoa.id}"></td>
								<td th:text="${pessoa.nome} eq ''? 'N/A': ${pessoa.nome}"></td>
								<td th:text="${pessoa.email}"></td>
								<td
									th:text="${pessoa.dataCadastro} ? ${#dates.format(pessoa.dataCadastro, 'dd/MM/yyyy')}: 'N/A'">
								</td>
								<td>
									<div th:text="${pessoa.sexo} eq 'M'? 'Masculino'"></div>
									<div th:text="${pessoa.sexo} eq 'F'? 'Feminino'"></div>
									<div th:text="${pessoa.sexo} eq 'N' ? 'Neutro'"></div>

								</td>
								<td th:text="${pessoa.ativo}? 'Ativo': 'Desativado'"></td>
								<td th:text="${pessoa.cidade}"></td>
								<td th:text="${pessoa.estado}"></td>
								<td><a class="btn btn-sm btn-primary"
									th:href="@{/edit/{id}(id=${pessoa.id})}"> <i
										class="fas fa-pencil-alt"></i> Editar
								</a> <a class="btn btn-sm btn-danger"
									onclick="return confirm('Deseja excluir?')"
									th:href="@{/del/{id}(id=${pessoa.id})}"> <i
										class="fas fa-trash-alt"></i> Remover
								</a></td>
							</tr>
						</tbody>
					</table>

					<div class="row justify-content-center">
						<nav th:if="${not #lists.isEmpty(pessoas)}"
							aria-label="Navegação de página exemplo">
							<ul class="pagination">
								<li class="page-item"><a class="btn btn-info"
									th:href="@{'/pessoas/'+${1}}"><i
										class='fas fa-step-backward'></i> Primeiro </a></li>
								<li th:class="${i == ativo} ? 'active page-item': 'page-item' "
									th:each="i : ${#numbers.sequence(1, numPaginas)}"
									class="page-item"><a class="page-link"
									th:href="@{'/pessoas/'+${i}}"> <th:block th:text="${i}" />
								</a></li>
								<li class="page-item"><a class="btn btn-info"
									th:href="@{'/pessoas/'+${numPaginas}}">Último <i
										class='fas fa-step-forward'></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="row justify-content-center">
					<p th:if="${msgDoc}" th:text="${msgDoc}"
						class="bg-danger text-white text-center h5"></p>
					<h5 class="col-lg-12 text-center my-3">Lista de Arquivos</h5>
					<div class="col-lg-10">
						<table class="table-arquivos table table-striped ">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nome</th>
									<th>Cadastro</th>
									<th>Ativo</th>
									<th class="text-center">Arquivos</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pessoa: ${pessoas}">
									<td th:text="${pessoa.id}"></td>
									<td th:text="${pessoa.nome} eq ''? 'N/A': ${pessoa.nome}"></td>
									<td
										th:text="${pessoa.dataCadastro} ? ${#dates.format(pessoa.dataCadastro, 'dd/MM/yyyy')}: 'N/A'">
									</td>
									<td th:text="${pessoa.ativo}? 'Ativo': 'Desativado'"></td>
									<td style="width: 350px;" align="center">
										<table class="w-100">
											<tr th:each="doc : ${pessoa.docs}">
												<td>
													<div class="row">
														<div class="col-sm-7">
															<strong>Download:</strong> <br /> <a
																style="word-wrap: break-word;"
																class="bg-primary text-white"
																th:href="@{'/download/'+${doc.id}}"> <th:block
																	th:text="${doc.nomeArquivo}" />
															</a>
														</div>

														<div class="col-sm-5 d-flex align-items-center">
															<a onclick="return confirm('Deseja excluir?')"
																th:href="@{'/del-doc?id='+${doc.id}}"
																class="btn btn-sm btn-danger"> <i
																class="fas fa-trash-alt"></i> Remover
															</a>
														</div>
													</div>
												</td>
											</tr>
											<tr th:if="${#lists.isEmpty(pessoa.docs)}">
												<td>
													<p class="text-center" align="center">Sem Arquivos.</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
